* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(./inspiration-geometry.png);
    animation: bg 15s linear infinite;
    background-color: black;
  }

  @keyframes bg {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }

  .main{
      position: relative;
      padding: 25px;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  }
  
  .full {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2.8%;
    font-family: "Lato", sans-serif;
  }
  
  .heading {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #ff8a05;
    text-shadow: black 2px 2px 2px;
  }
  
  .meaning {
    text-align: left;
    color: white;
    font-size: 25px;
    margin: 20px auto;
    text-shadow: black 2px 2px 2px;
  }
  
  em {
    font-weight: bolder;
  }
  
  .input-heading {
    color: white;
    font-size: 25px;
    text-shadow: black 2px 2px 2px;
  }
  
  input {
    margin-top: 10px;
    min-width: 200px;
    width: 75%;
    height: 40px;
    border-radius: 20px;
    border-color: black;
    border-width: 3px;
    text-align: center;
    outline: none;
  }
  
  button {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: #ff8a05;
    color: black;
    font-size: 15px;
    text-align: center;
    outline: none;
  }
  
  .input-heading {
    font-size: 25px;
  }
  
  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
  }
  
  .tiles:nth-child(odd) {
    background-color: white;
    color: black;
    font-size: 16px;
  }
  
  .tiles:nth-child(even) {
    background-color: #ff8a05;
    color: black;
    font-size: 16px;
  }
  
  .tiles {
    height: 40px;
    width: 200px;
    margin: 1%;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    font-weight: 600;

  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  
  #preview {
    color: white;
    font-size: 20px;
  }
  